.portfolio__container {
    width: 750px;
}

.portfolio__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.portfolio__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: var(--mb-1);
}

.portfolio__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.portfolio__description {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/* BREAKPOINTS */
/* FOR LARGE DEVICES */
@media screen and (max-width: 992px) {
    .portfolio__container {
        width: initial;
    }

    .portfolio__card {
        padding: 1.25rem 1.5rem;
    }
}

.portfolio__button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.portfolio__description:hover .portfoliot__button-icon {
    transform: translateX(00.25rem);
    background-color: aqua;
}